body{
    background-color: #fffff;
    color: #212121;
}
/* во все списки добавить */
.list{
    list-style: none;
}

/* не работает */
.nav-list,link:hover
.nav-list,link:focus {
    color: #2196F3;

}

.nav-auth-list {
    color: #757575;

}
/* еще черній #000000; */
/*  основнойчерный #212121; */
/* абзац и хедер #757575;*/
/* акцент #2196F3; */
/* фон акцент белій #FFFFFF; */
/* футер  rgba(255, 255, 255, 0.6) телефон ипочта */